*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.controls{
  padding: 1%;
  background: none;
  color: #000;
  float: right
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .3em .6em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  font-size: 0.1px;
  background: #EEE;
  
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

.container .mix{
  text-align: left;
  background: #FFF;
  margin-bottom: 2%;
  display: none;
}

.container .mix.useritem{
  border-top: 2px solid limegreen;
}

.container .mix.svnitem{
  border-top: 2px solid lightskyblue;
}
.container .mix.redmineitem{
  border-top: 2px solid red;
}

.container .mix.wikiphp{
  border-top: 2px solid orange;
}

.container .mix:after{
  content: attr(data-myorder);
  color: #000;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700;
}

.container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 0%;
}

@media all and (min-width: 420px){
  .container .mix,
  .container .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  .container .mix,
  .container .gap{
    width: 23.5%;
  }
}

.useritem  h4 {
    padding-top: 10px;
    padding-left: 10px;
    white-space:nowrap; 
    width:90%; 
    overflow:hidden;
    text-overflow:ellipsis; 
    color:#000;
    font-size: 14px;
}
.wikiphp  h4 {
    padding-top: 10px;
    padding-left: 10px;
    width:90%; 
    overflow:hidden; 
    color:#000;
    font-size: 14px;
}
.mix p {
    font-size:12px;
    color:#339933;
    padding-left: 10px;
    white-space:nowrap; 
    width:90%; 
    overflow:hidden;
    text-overflow:ellipsis;
}
.mix  .user {
     color:#339933;
}
.mix .svn {
    color:#13386a;
}
.mix .redmine {
    color:#ab0000;
}
.mix .wiki {
    color:orange;
}
.mix .wikiphp . h4 {
	white-space:none !important;
}
.mix .php_wiki_icon {
    width:15%;
    float:right;
    margin:20px;
    padding: 3px;
}
.mix .give_bravo_icon {
    width:15%;
    float:right;
    margin:20px;
    padding: 3px;
}
.mix .svn_project_icon {
    width:15%;
    float:right;
    margin:20px;
    padding: 3px;
}
.mix .redmine_project_icon {
 width:20%;
    float:right;
    margin:20px;
    padding: 3px;
}
.mix .give_bravo_icon:hover {
    border:solid #000;
    border-radius: 100px;
    border-width: 1px;
}