<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %} Payoda COE {% endblock %}</title>
        {% block meta %}
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
		{% endblock %}
        <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />
    </head>
    <body>
        <header>
            <div id='header_content'>
                <div id='header_content'>
                 <a href='#login_form' style='float:left;padding-right:10px;width:50px'>Login<span>></span></a>
              </div>
              </div>
                   <a href="#x" class="overlay" id="login_form"></a>
        <div class="popup">
            <h2 style="text-align: center">PAYODA<span style="color: #339933;font-size: 30px;">></span></h2>
             <div class="field-set">
                <label for="login">Username</label>
                <input type="text" id="login" value="" />
            </div>
            <div class="field-set">
                <label for="password">Password</label>
                <input type="password" id="password" value="" />
            </div>
            <center><input type="submit" value="Log In" /></center>
            <a class="close" href="#close"></a>
        </div>
        </header>
        <div id='home-wrapper'>
            <div id="search_box_home">
            <center>
                <h1>PAYODA <span> > </span></h1>
                <div id="wrap">
                    <form action="/search/" method="post" autocomplete="on">
                         {% csrf_token %}
                        <input id="search" name="q" type="text" autofocus placeholder="What're we looking for ?">
                        <input id="search_submit" value="Rechercher" type="submit">
                    </form>       
                </div>
            </center>
            </div>     
        </div>
        <footer>
		{% block footer %}
            <div class='pull-left'>
                <ul>
                    <li><a href='#'>Copyright &copy; 2014 Payoda</a></li>
                </ul>
            </div>
            <div class='pull-right'>
                <ul>
                    <li><a href='#'>Privacy & Terms</a></li>
                    <li><a href='#'>Help</a></li>
                    <li><a href='#'>Ticket</a></li>
                </ul>
            </div>
		{% endblock %}	
        </footer>
    </body>
</html>
