<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %} Payoda COE {% endblock %}</title>
        {% block meta %}
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        {% endblock %}
        <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    </head>
    <body>
        <header>
            <div id='header_content'>
                <div id='header_content'> 
                        {% if loginStaus %}
                         
                        <ul id="menu">
  <li> <a href='#' style='white-space: nowrap;padding:0px'>  {{ username }} <span>></span></a> 
		<ul>
			<li><a href="#">My Profile</a></li>
			<li><a href="#">My Bravo Awards</a></li>
			<li><a href="/logout/">Logout</a></li>
		</ul>
	</li>
	
</ul>
                        {% else %} 
                        <a href='#login_form' style='float:left;padding-right:10px; white-space: nowrap;'> Login <span>></span></a> 
                        <a href="#x" class="overlay" id="login_form"></a>
                        <div class="popup">
                            <h2 style="text-align: center">PAYODA<span style="color: #339933;font-size: 30px;">></span></h2>
                            <form action="/login/" method="post" autocomplete="on">
                               {% csrf_token %}
                                <div class="field-set">
                                    <label for="login">Username</label>
                                    <input type="text" name="username" id="login" value="" autocomplete="off" required />
                                </div>
                                <div class="field-set">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" value="" required />
                                </div>
                                <center><input type="submit" value="Log In" /></center>
                            </form> 
                            <a class="close" href="#close"></a>
                        </div>
                        {% endif %}
                 </div>
              </div>   
        </header>
        <div id='home-wrapper'>
            <div id="search_box_home">
            <center>
                <h1>PAYODA <span> > </span></h1>
                <div id="wrap">
                    <form action="/search/" method="post" autocomplete="on">
                         {% csrf_token %}
                        <input id="search" name="q" required type="text" autofocus placeholder="What're we looking for ?">
                        <input id="search_submit" value="Rechercher" type="submit">
                    </form>       
                </div>
            </center>
            </div>     
        </div>
        <footer>
         <p  style="float:left;margin-left:2%;line-height:0px;font-size:13px;">Copyright &copy; 2014 Payoda</p>
        </footer>
    </body>
</html>
