<!DOCTYPE html>
{% load staticfiles %}
{% load dajaxice_templatetags %}
<html>
    <head>
        <title>Payoda COE</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="{% static 'css/searchpage.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/mixitup.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/stack.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/shake.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.toastmessage.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/tooltipster.css' %}" />
         <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
         <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.countdown.css' %}" />
         
        <script src="{% static 'js/modernizr.custom.63321.js' %}"></script>
        {% dajaxice_js_import %}
    </head>
    <body>
        <header>
            <div id='header_content'>
                <div id='header_content'> 
                        {% if loginStaus %}
                         <ul id="menu">
  <li> <a href='#' style='white-space: nowrap;padding:0px'>  {{ username }} <span>></span></a> 
		<ul>
			<li><a href="#">My Profile</a></li>
			<li><a href="#">My Bravo Awards</a></li>
			<li><a href="/logout/">Logout</a></li>
		</ul>
	</li>
	
</ul> {% else %} 
                        <a href='#login_form' style='float:left;padding-right:10px; white-space: nowrap;'> Login <span>></span></a> 
                        <a href="#x" class="overlay" id="login_form"></a>
                        <div class="popup">
                            <h2 style="text-align: center">PAYODA<span style="color: #339933;font-size: 30px;">></span></h2>
                            <form action="/login/" method="post" autocomplete="on">
                               {% csrf_token %}
                                <br />
                               <table cellspacing=20 border=0 width=80%>
                                 <tr>
                                     <td align="center" width="30%"><label for="login"><b>Username</b></label></td>
                                     <td align="center" width="70%"><input type="text" name="username" id="login" value="" style="width:150%;height:35px;" autocomplete="off" required/></td>
                                 </tr>
                                 <tr>
                                     <td><label for="password"><b>Password</b></label></td>
                                     <td><input type="password" name="password" id="password" required value="" style="width:150%;height:35px;" /></td>
                                 </tr>
                               </table>
                               <center> <input type="submit" value="Log In"  /></center>
                            </form> 
                            <a class="close" href="#close"></a>
                        </div>
                        {% endif %}
                 </div>
              </div>   
        </header>
        <div>
            <table style="padding:5px" width="67%" >
                <tr>
                    <td width="13%"><a href="/index/" style="color:black;text-decoration:none"><h1 class="payoda">PAYODA <span>></span></h1></a></td>
                    <td width="55%">
                        <form action="/search/" class="searchform" method="post" autocomplete="on">
                             {% csrf_token %}
                            <input type="text" placeholder="What're we looking for" name="q"  value="{{ q }}" required autofocus="on" />
                            <input type="submit" />
                        </form>
                        <div class="clear"></div>
                        <p class="result_count"><b>{{ searchCount }}</b> Results</p>
                        <div class="controls">
                            <label></label>
                            <button class="filter" data-filter="all">All</button>
                            <button class="filter" data-filter=".useritem">Users</button>
                            <button class="filter" data-filter=".redmineitem">Redmine</button>
                            <button class="filter" data-filter=".wikiphp">Wiki</button>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
        <div class="search_result">
             
            <div id="Container" class="container">  
              {% for item in searchData %}
              
                    <div class="mix useritem" id="{{ item.0.1.sAMAccountName.0 }}" onclick="load_user_info(this);">
                        <h4 title="{{ item.0.1.cn.0 }}">{{ item.0.1.cn.0 }}</h4>
                        <p class="user" title="{{ item.0.1.title.0 }}">{{ item.0.1.title.0 }}</p>
                        <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                    </div>
                
              {% endfor %}
             {% for item in wikiData %}
             <a href= {{item.url}} target="_blank" style="text-decoration:none;">
                <div class="mix wikiphp">
                   <h4  title="{{item.title}}">{{item.title}}</h4>
                    <img src="{% static 'images/phpwiki.png' %}" title="PHP - Wiki" class='php_wiki_icon' />
                </div>
                </a>
                {% endfor %}
                <!--<div class="mix wikiphp">
                    <h4 title="Magento Module Development">Magento Module Development</h4>
                    <p class="wiki" title="Intern">PHP - Wiki</p>
                    <img src="{% static 'images/phpwiki.png' %}" title="PHP - Wiki" class='php_wiki_icon' />
                </div>
                <div class="mix wikiphp">
                    <h4 title="Drupal Admin Module">Drupal Admin Module</h4>
                    <p class="wiki" title="Intern">PHP - Wiki</p>
                   <img src="{% static 'images/phpwiki.png' %}" title="PHP - Wiki" class='php_wiki_icon' />
                </div>
                
                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>

                <div class="mix useritem">
                    <h4 title="Muhil varnan">Muhil varnan</h4>
                    <p class="user" title="Intern">Intern</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Shankar Ganesh Jayaraman">Shankar Ganesh Jayaraman</h4>
                    <p class="user" title="Tech Specialist">Tech Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix useritem">
                    <h4 title="Ramesh Pushparaj">Ramesh Pushparaj</h4>
                    <p class="user" title='Project Specialist'>Project Specialist</p>
                    <img src="{% static 'images/bravo.png' %}" title="Give Bravo" class='give_bravo_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Blackberry Farm">Blackberry Farm</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix redmineitem">
                    <h4 title="Adeo">Adeo</h4>
                    <p class="redmine" title="Redmine">Redmine</p>
                    <img src="{% static 'images/redmine.png' %}" title="Redmine Project" class='redmine_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="PaperLess">PaperLess</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
                <div class="mix svnitem">
                    <h4 title="Blackberryfarm">Blackberryfarm</h4>
                    <p class="svn" title="SVN">SVN</p>
                    <img src="{% static 'images/svn.png' %}" title="SVN Project" class='svn_project_icon' />
                </div>
  -->
                <div class="gap"></div>
                <div class="gap"></div>
            </div>
        </div>
        <div class="loading_search_data" style="display:none;">
            <div class="close_search_data">
                X
            </div>
           <div id="_general_info"> 
            

</div>
            <div class="loading_data_gif">
                <center>
                    <img src="{% static 'images/ajax-loader.gif' %}" alt="loading" title="Loading" />
                    <h3>Processing</h3>
                </center>
            </div>
           
        </div>
    </body>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery.toastmessage.js' %}"></script>
    <script src="{% static 'js/jquery.plugin.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.js' %}"></script>
    <script>
        $(function() {
            $('#Container').mixItUp();
        });
    </script>
    <script type="text/javascript" src="{% static 'js/jquery.stackslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tooltipster.min.js' %}"></script>
    
    <script type="text/javascript">

       
        function load_user_info(obj) {                   
            var name = new String(obj.id);            
            Dajaxice.coe.views.getUserDetail(display_general_info,{name:name});
            $('.loading_search_data').css("display","block");
            $('#_general_info').html("");
            $('.loading_data_gif').css("display","block");
        }    
        function display_general_info(content){                
            $('.loading_data_gif').css("display","none");
            $('#_general_info').html(content);
        }
    </script>
    <script type="text/javascript">
        function givebravo() {                   
            var bravoId = $('#bravo_id').val();     
            if(!bravoId) {
                alert("No Bravo Award selected")
            }       
            else {
            var yBravo = $('#yBravo').val();    
            var awardGivenTo = $('#awardGivenTo').val();
            var awardGivenBy = $('#awardGivenBy').val();
            var bravoTitle = $('#bravoTitle').val();
            Dajaxice.coe.views.giveBravoAction(bravoSetActionProcessing,{bravoId:bravoId,yBravo:yBravo,awardBy:awardGivenBy,awardFor:awardGivenTo,bravotitle:bravoTitle});
            $('.loading_search_data').css("display","block");
            $('#_general_info').html("");
            $('.loading_data_gif').css("display","block");
           }
           
        }    
        function bravoSetActionProcessing(content){
           $('.loading_data_gif').css("display","none");
            $('#_general_info').html(content);        
            
        }

    </script>


</html>
