{% load staticfiles %}
 
<ul id="tabs">
    <li><a href="#" name="#tab1">Genral Info</a></li>
    <li><a href="#" name="#tab2">Bravo Awards</a></li>  
    <li><a href="#" name="#tab3">Give Bravo</a></li>
    
</ul>
<div id="content"> 
    <div id="tab1" class="tab_content">
        <div> 
                <h3><b>{{content.displayName.0}}</b> <span style="font-size:12px;color:#339933">{{content.title.0}}</span></h3>
                <hr />
                 <p>{{content.mail.0}}</p>
                <p>{{content.mobile.0}}</p>
                <p>{{content.department.0}}</p>
                <p>{{content.physicalDeliveryOfficeName.0}}</p>
                <p>Manager : {{manager}}</p>
                
               
                <br />
                <div id="defaultCountdown" ></div>
                <input type="hidden" value="{{ days }}" id="countdays" />
 
        </div>  
        <div class="clear"></div>
    </div>
    <div id="tab2" class="tab_content">
    {% ifequal bravoawards|length 0 %}
       <h3>No bravo awards</h3>
    {% else %}
    <ul id="st-stack" class="st-stack-raw">
    
    {% for key,value in bravoawards.items %}
         {% with value.1.0.3|cut:"coe" as bravo_img %}
            <li><div class="st-item"><img class="tooltip" data-title='asdaasdsa' src="{% static bravo_img %}"/></div><div class="st-title"><h2>{{ value.1.0.1 }}</h2><h3>Award by <br />{{ value.0.0 }}</h3></div></li>     
        {% endwith %}
        {% endfor %}
        </ul> 
    {% endifequal %}        
    </div>
    <div id="tab3" class="tab_content">
        {% if not loginStaus %}
           <h3>You need to login to give bravo to {{ awardgivento }}</h3>
        {% else %}
         <div id="give_bravo_section">
		 <center>
         <div id="droppable">
            <p style="text-align: center;font-size:12px;"><b>Drag and Drop Bravo icon here</b></p>
        </div>
        <input type="hidden" id="bravo_id" value="0" />
        <input type="hidden" id="bravoTitle" value="" />
        <input type="hidden" id="awardGivenBy" value="{{ awardgivenby }}" />
        <input type="hidden" id="awardGivenTo" value="{{ awardgivento }}" />
        <div class="bravo_form_data">
       <h1><b id="bravo_title" class="payoda_days" style="font-size:20px;"></b></h1>
            <textarea placeholder="Why you give to {{ awardgivento }}?" class="ygive" id="yBravo" autofocus></textarea>
            <br/>
            <button label="Give Bravo" value="Give Bravo" onclick="givebravo()">Award Bravo</button>
            <br />
            <br />
            </center>
        </div>
        <p id="BravoError"></p>

        <div class="clear"></div>
        <hr />
             {% for bravo in bravoItems %}
                    {% with bravo.3|cut:"coe" as bravo_img %}
               <img src='{% static bravo_img   %}' data-bravoId='{{ bravo.0 }}'  data-bravoTitle='{{ bravo.1 }}' class="drag_bravo_icon shake  shake-slow tooltip" title="{{ bravo.2 }}"/>
               {% endwith %}
             {% endfor %}
            {% endif %} 
    </div>
   </div> 

</div>
<script type="text/javascript">
 
    $(function() {

    	$(".close_search_data").click(function() { 
    		$('.loading_search_data').css({'display':'none'});
    	});
        $(".drag_bravo_icon").hover(function() {
            $("#droppable").css({'border-radius': '50%;'})
        }, function() {
            $("#droppable").css({'border-radius': '0%'})
        });
        //   $(".drag_bravo_icon").mouseenter($("#droppable").css({'background':'#FFF'}));
        // $(".drag_bravo_icon").mouseover($("#droppable").css({'background':'#CCC'}));
        $(".drag_bravo_icon").draggable({revert: "valid"});
        $("#droppable").droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            drop: function(event, ui) {
                imagesrc = ui.draggable.attr("src");
                title = ui.draggable.attr("title");
                bravoId =  ui.draggable.attr("data-bravoId");
                bravoTitle = ui.draggable.attr("data-bravoTitle");
                $(this)
                        .addClass("ui-state-highlight")
                        .html("<img src='" + imagesrc + "' class='drag_bravo_icon' title='" + title + "' />");
                $('#bravo_id').val(bravoId);        
                $('#bravoTitle').val(bravoTitle);
                $('.bravo_form_data').css({'display': 'block'});
                $('#bravo_title').html(title);
            }
        });
    });

    function resetTabs() {
        $("#content > div").hide(); //Hide all content
        $("#tabs a").attr("id", ""); //Reset id's      
    }

    var myUrl = window.location.href; //get URL
    var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For mywebsite.com/tabs.html#tab2, myUrlTab = #tab2     
    var myUrlTabName = myUrlTab.substring(0, 4); // For the above example, myUrlTabName = #tab

    (function() {
        $("#content > div").hide(); // Initially hide all content
        $("#tabs li:first a").attr("id", "current"); // Activate first tab
        $("#content > div:first").fadeIn(); // Show first tab content

        $("#tabs a").on("click", function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current") { //detection for current tab
                return
            }
            else {
                resetTabs();
                $(this).attr("id", "current"); // Activate this
                $($(this).attr('name')).fadeIn(); // Show content for current tab
            }
        });

        for (i = 1; i <= $("#tabs li").length; i++) {
            if (myUrlTab == myUrlTabName + i) {
                resetTabs();
                $("a[name='" + myUrlTab + "']").attr("id", "current"); // Activate url tab
                $(myUrlTab).fadeIn(); // Show url tab content        
            }
        }
    })()

    $(function() {

        $('#st-stack').stackslider();

    });
   {% if bravoawardsuccess %}

      $(document).ready(function() {

    var yourText = '<h3 style="padding:10px;">You had awared {{ awardfor }} with {{ bravoTitle }} successfully !!!</h3>',
        toastMessageSettings = {
            text: yourText,
            sticky: false,
            position: 'top-right',
            type: 'success',
            closeText: '',
            close: function() {
                console.log("toast is closed ...");
            }
        };

var myToast = $().toastmessage('showToast', toastMessageSettings);
});
      {% endif %} 
      
      
      $(document).ready(function() {
          $('.tooltip').tooltipster({
        	  animation: 'grow',
        	  position :'right'
          });
      });
</script>
<script>
  $(function () {	
	day = $('#countdays').val();
	var austDay = new Date(day);
	$('#defaultCountdown').countdown({since: austDay, 
    format: 'YOWDHMS', description: 'In Payoda'});
});
</script>
